
:root {
    --body-color: #E4E9F7;
    --shell-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
}
body {
    background-color: #f3f5f7;
    min-height: 100vh;
    background-color: var(--body-color);
    transition: all 0.3s ease;
}

.dark {
    --body-color: #202224;
    --shell-color: #171717;
    --primary-color: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

.shell {
    position: fixed;
    top: 60px;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--shell-color);
    transition: all 0.3s ease;
    z-index: 1000;
}

.close {
    width: 88px;
}

.shell li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.image,
.icon {
    min-width: 60px;
    border-radius: 6px;
}

.icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 300 23px;

}

.text {
    font: 500 17px;
    white-space: nowrap;
    opacity: 1;
}

.shell.close .text {
    opacity: 0;
}

header {
    position: relative;
}

.image-text {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.name {
    margin-top: 2px;
    font: 600 18px;
}

.software {
    font-size: 20px;
    margin-top: -2px;
    font: 600 18px;
    display: block;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    width: 45px;
    border-radius: 6px;
}

.toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--shell-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.toggle {
    font-size: 20px;
    color: #ccc;
}

.shell.colse .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.menu {
    margin-top: 40px;
}

li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.shell li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.shell li a:hover{
    background-color: var(--primary-color);
}
.shell li a:hover .icon,
.shell li a:hover .text {
    color: var(--shell-color);
}

.menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: all 0.3s ease;
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

.toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: all 0.3s ease;

}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--shell-color);
    transition: all 0.3s ease;
}

.dark .shell li a:hover .icon,
.dark .shell li a:hover .text {
    color: #ccc;
}

.dark .mode .sun-moon i.sun {
    opacity: 1;
}

.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.dark .switch::before {
    left: 20px;
}

.wrapper {
    margin: 0 auto;
    width: 1200px;
}
body {
    background-color: #f3f5f7;
}
.top {
    top: 0;
    display: flex;
    position: sticky;
    height: 60px;
    background-image: url(../image/nav_back_bg_fd2505e.jpg);
    transition: all .3s;
    z-index: 999;
}
.top .wrapper ul {
    display: flex;
    color: white;
}
.top .wrapper .active {
    display: block;
    height: 60px;
    width: 100px;
    color: white;
}
.top .wrapper .active span{
    line-height: 60px;
    margin-left: 20px;

}
.top-list{
    position: absolute;
    display: none;
    left: 0;
    top: 60px;
    width: 100%;
    height: 140px;
    z-index: 999;
    background: url(../image/subnav_bg_5cc9309.jpg);

}
.top li:hover>.top-list{
    display: block;
}
.userList{
    display: none;
    right: 14%;
    position: absolute;
    transition: all .3s;
    margin-top: 60px;
    border-radius: 10%;
    line-height: 50px;
    width: 70px;
    height: 100px;
    background-color: white;
    color: black;
    z-index: 999;
}
.userList li{
    margin-left: 7px;
}
.upside img:hover>.userList{
    display: block;
}
.top .wrapper .active span{
    line-height: 60px;
    margin-left: 20px;

}
.top .wrapper .active:hover {
    color: black;
    background: url(../image/nav_bg1_d44f09d.jpg) center 0 no-repeat;

}
.top .wrapper .active_first span{
    line-height: 60px;
    margin-left: 20px;

}
/* 下划菜单 */
/* .top-list a{
    padding: 24px 0 10px;
    margin-left: 400px;
    margin-top: 15px;
    width: 700px;
    height: 200px;
    background-color: #f3f5f7;
} */
.top-list .img_first{
    margin-top: 24px;
    margin-bottom: 10px;
    margin-left: 400px;
    margin-right: 10px;
}
.top-list .img_later{
    margin: 24px 20px 10px ;
}
.top-list .kindCon {
    color: #fff;
    background: #c2a060;
    width: 15px;
    /* padding: 2px 3px; */
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 20px;
    margin-right: 5px;
    text-align: center;
    
}
.active_first{
    display: block;
    height: 60px;
    width: 100px;
    line-height: 60px;
    /* margin-left: 20px; */
    color: black;
    background: url(../image/nav_bg1_d44f09d.jpg) no-repeat;
}
.search a {
    align-self: center;
    width: 18px;
    height: 19px;
    line-height: 60px;
    display: block;
    background-image: url(../image/search_b180dd5.webp);
    
}
.search {
    display: flex;
    margin: 10px;
    width: 312px;
    height: 40px;
    /* background-color: #646a12; */
    border-radius: 20px;
    padding-left: 19px;
    padding-right: 12px;
    border-bottom: 1px solid #c2a060;
}
.search input{
    color: white;
    flex: 1;
    border: 0;
    background-color: transparent;
    outline: none;
}

.search input::placeholder {
    font-size: 14px;
    color: #999;
}
.upside a {
    line-height: 60px;
    width: 110px;
    height: 40px;
    display: flex;
    color: white;
}
.upside img{
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 50%;
}
.section_con{
    width: 1180px;
    margin: 30px auto 0;
    position: relative;
    z-index: -11;

}
.game{
    margin: 0 auto;
    width: 100%;
    height: 310px;
    background: url(../image/right.jpg) no-repeat;
    background-position: 0 174px;
}
.game-title{
    float: left;
    width: 54px;
    height: 145px;
    background: url(../image/index_z_9ac8591.webp);
    background-position: -900px -532px;
}
.game-box{
    float: right;
    width: 1080px;
    height: 209px;
    /* background-color: green; */
}
.game-box>div{
    position: relative;
    float: left;
    width: 340px;
    height: 209px;
    background-color: red;margin-left: 20px;
    cursor: pointer;
    transition: all 0.3s;
}
.game-box>.pic img:hover{
    transform: scale(1.1);
}
.game-box span{
    position: absolute;
    display: block;
    width: 40px;
    height: 90px;
    padding: 0 10px;
    background: url(../image/stategy_tit_bg_3dfaee2.webp);
    color: #000;
    font-size: 14px;
    transition: all 0.3s;
}
.game-box a img{
     cursor: pointer;
}
.game-box a img :hover{
    transition: all 0.3s;
    transform: scale(1.1);
}
.game-box>div span:first-of-type{
    position: absolute;
    top: 0;
    left: 18px;

}
.game-box>div span:last-of-type{
    position: absolute;
    top: 22px;
    left: 68px;
}
.theitem img{
    margin-left: 300px;
}
.item{
    height: 165px;
    position: relative;
}
.item-inner{
    width: 1200px;
    margin: 0 auto;
    
    position: relative;
    height: 165px;
}
.item-inner .p-tit{
    position: absolute;
    font-size: 20px;
    margin-left: 200px;
    margin-bottom: 15px;
    margin-top: 30px;
}
.item-inner .p-mess{
    position: absolute;
    width: 805px;
    margin-left: 200px;
    margin-top: 80px;
}
.item:hover{
    background: url(../image/item-cur_e02445f.jpg) center top no-repeat;
    transition: ease-in-out 0.3s;
}
.item span{
    display: block;
    text-align: center;
    line-height: 32px;
    top: 10px;
    position: absolute;
    width: 72px;
    height: 32px;
    background-image: url(../image/inpage_z_0650c12.webp);
    background-position: -271px 0px;
}