.wrapper {
    margin: 0 auto;
    width: 1200px;
}
body {
    background-color: #f3f5f7;
}
.top {
    top: 0;
    display: flex;
    width: 100%;
    position: sticky;
    height: 60px;
    background-image: url(../image/nav_back_bg_fd2505e.jpg);
    transition: all .3s;
    z-index: 99;
}
.top .wrapper ul {
    display: flex;
    color: white;
}
.top .wrapper .active {
    display: block;
    height: 60px;
    width: 100px;
    color: white;
}
.top .wrapper .active span{
    line-height: 60px;
    margin-left: 20px;

}
.top-list{
    position: absolute;
    display: none;
    left: 0;
    top: 60px;
    width: 100%;
    height: 140px;
    /* z-index: -50; */
    background: url(../image/subnav_bg_5cc9309.jpg);

}
.top li:hover>.top-list{
    display: block;
}
.top .wrapper .active span{
    line-height: 60px;
    margin-left: 20px;

}
.top .wrapper .active:hover {
    color: black;
    background: url(../image/nav_bg1_d44f09d.jpg) center 0 no-repeat;

}
.top .wrapper .active_first span{
    line-height: 60px;
    margin-left: 20px;

}
.top-list .img_first{
    margin-top: 24px;
    margin-bottom: 10px;
    margin-left: 400px;
    margin-right: 10px;
}
.top-list .img_later{
    margin: 24px 20px 10px ;
}
.top-list .kindCon {
    color: #fff;
    background: #c2a060;
    width: 15px;
    /* padding: 2px 3px; */
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 20px;
    margin-right: 5px;
    text-align: center;
    
}
.active_first{
    display: block;
    height: 60px;
    width: 100px;
    line-height: 60px;
    /* margin-left: 20px; */
    color: black;
    background: url(../image/nav_bg1_d44f09d.jpg) no-repeat;
}
.search a {
    align-self: center;
    width: 18px;
    height: 19px;
    line-height: 60px;
    display: block;
    background-image: url(../image/search_b180dd5.webp);
    
}
.search {
    display: flex;
    margin: 10px;
    width: 312px;
    height: 40px;
    /* background-color: #646a12; */
    border-radius: 20px;
    padding-left: 19px;
    padding-right: 12px;
    border-bottom: 1px solid #c2a060;
}

.search input{
    flex: 1;
    border: 0;
    background-color: transparent;
    outline: none;
    color: white;
}

.search input::placeholder {
    font-size: 14px;
    color: #999;
}
.upside a {
    line-height: 60px;
    width: 110px;
    height: 40px;
    display: flex;
    color: white;
}
.upside img{
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 50%;
}
.section_con{
    width: 1180px;
    margin: 30px auto 0;
    position: relative;
    z-index: -11;

}
.game{
    margin: 0 auto;
    width: 100%;
    height: 310px;
    background: url(../image/right.jpg) no-repeat;
    background-position: 0 174px;
}
.game-title{
    float: left;
    width: 54px;
    height: 145px;
    background: url(../image/index_z_9ac8591.webp);
    background-position: -900px -532px;
}
.game-box{
    float: right;
    width: 1080px;
    height: 209px;
    /* background-color: green; */
}
.game-box>div{
    position: relative;
    float: left;
    width: 340px;
    height: 209px;
    background-color: red;margin-left: 20px;
    cursor: pointer;
    transition: all 0.3s;
}
.game-box>.pic img:hover{
    transform: scale(1.1);
}
.game-box span{
    position: absolute;
    display: block;
    width: 40px;
    height: 90px;
    padding: 0 10px;
    background: url(../image/stategy_tit_bg_3dfaee2.webp);
    color: #000;
    font-size: 14px;
    transition: all 0.3s;
}
.game-box a img{
     cursor: pointer;
}
.game-box a img :hover{
    transition: all 0.3s;
    transform: scale(1.1);
}
.game-box>div span:first-of-type{
    position: absolute;
    top: 0;
    left: 18px;

}
.game-box>div span:last-of-type{
    position: absolute;
    top: 22px;
    left: 68px;
}
.theitem img{
    margin-left: 300px;
}
.item{
    height: 165px;
    position: relative;
}
.item-inner{
    width: 1200px;
    margin: 0 auto;
    
    position: relative;
    height: 165px;
}
.item-inner .p-tit{
    position: absolute;
    font-size: 20px;
    margin-left: 200px;
    margin-bottom: 15px;
    margin-top: 30px;
}
.item-inner .p-mess{
    position: absolute;
    width: 805px;
    margin-left: 200px;
    margin-top: 80px;
}
.item:hover{
    background: url(../image/item-cur_e02445f.jpg) center top no-repeat;
    transition: ease-in-out 0.3s;
}
.item span{
    display: block;
    text-align: center;
    line-height: 32px;
    top: 10px;
    position: absolute;
    width: 72px;
    height: 32px;
    background-image: url(../image/inpage_z_0650c12.webp);
    background-position: -271px 0px;
}