/* 首页样式 */
/* 版心 */
/* 页面滑动 */
html {
    scroll-behavior: smooth;
}
:root {
    --body-color: #E4E9F7;
    --shell-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
}

.dark {
    --body-color: #202224;
    --shell-color: #171717;
    --primary-color: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

.shell {
    position: fixed;
    top: 60px;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: url(../image/bg_42f248c.jpg);
    background-position: -470px -100px;
    transition: all 0.3s ease;
    z-index: 1000;
}

.close {
    width: 88px;
}
.shell li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.image,
.icon {
    min-width: 60px;
    border-radius: 6px;
}

.icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 300 23px;

}
.text {
    font: 500 17px;
    margin-left: 50px;
    white-space: nowrap;
    opacity: 1;
}

.shell.close .text {
    opacity: 0;
}

header {
    position: relative;
}

.image-text {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.name {
    margin-top: 2px;
    font: 600 18px;
}

.software {
    font-size: 20px;
    margin-top: -2px;
    font: 600 18px;
    display: block;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    width: 45px;
    border-radius: 6px;
}

.toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--shell-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.toggle {
    font-size: 20px;
    color: #ccc;
}

.shell.colse .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.menu {
    margin-top: 40px;
}

li.search-box input {
    height: 50%;
    width: 100%;
    margin-left: 40px;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.shell li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.shell li a:hover{
    background-color: var(--primary-color);
}
.shell li a:hover .icon,
.shell li a:hover .text {
    color: var(--shell-color);
}

.menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: all 0.3s ease;
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

.toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: all 0.3s ease;

}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--shell-color);
    transition: all 0.3s ease;
}

.dark .shell li a:hover .icon,
.dark .shell li a:hover .text {
    color: #ccc;
}

.dark .mode .sun-moon i.sun {
    opacity: 1;
}

.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.dark .switch::before {
    left: 20px;
}

/*  */
.wrapper {
    margin: 0 auto;
    width: 1200px;
}

body {
    background-color: #f3f5f7;
    min-height: 100vh;
    background-color: var(--body-color);
    transition: all 0.3s ease;
}

.slider-wrapper {
    position: absolute;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.top {
    top: 0;
    display: flex;
    position: sticky;
    height: 60px;
    background-image: url(../image/nav_back_bg_fd2505e.jpg);
    transition: all .3s;
}

.top .wrapper ul {
    display: flex;
    color: white;
}

.top .wrapper .active {
    display: block;
    height: 60px;
    width: 100px;
    color: white;
}

.top .wrapper .active span {
    line-height: 60px;
    margin-left: 20px;

}

.top-list {
    position: absolute;
    display: none;
    left: 0;
    top: 60px;
    width: 100%;
    height: 140px;
    /* z-index: -50; */
    background: url(../image/subnav_bg_5cc9309.jpg);

}

.top li:hover>.top-list {
    display: block;
}

.userList {
    display: none;
    right: 14%;
    position: absolute;
    cursor: pointer;
    transition: all .3s;
    margin-top: 20px;
    border-radius: 10%;
    line-height: 50px;
    width: 70px;
    height: 100px;
    background-color: white;
    color: black;
}

.userList li {
    margin-left: 7px;
}

.upside img:hover>.userList {
    display: block;
}

.top .wrapper .active span {
    line-height: 60px;
    margin-left: 20px;
}

.top .wrapper .active:hover {
    color: black;
    background: url(../image/nav_bg1_d44f09d.jpg) center 0 no-repeat;

}

.top .wrapper .active_first span {
    line-height: 60px;
    margin-left: 20px;

}

/* 下划菜单 */
/* .top-list a{
    padding: 24px 0 10px;
    margin-left: 400px;
    margin-top: 15px;
    width: 700px;
    height: 200px;
    background-color: #f3f5f7;
} */
.top-list .img_first {
    margin-top: 24px;
    margin-bottom: 10px;
    margin-left: 400px;
    margin-right: 10px;
}

.top-list .img_later {
    margin: 24px 20px 10px;
}

.top-list .kindCon {
    color: #fff;
    background: #c2a060;
    width: 15px;
    /* padding: 2px 3px; */
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 20px;
    margin-right: 5px;
    text-align: center;

}

.active_first {
    display: block;
    height: 60px;
    width: 100px;
    line-height: 60px;
    /* margin-left: 20px; */
    color: black;
    background: url(../image/nav_bg1_d44f09d.jpg) no-repeat;
}

.search a {
    align-self: center;
    width: 18px;
    height: 19px;
    line-height: 60px;
    display: block;
    background-image: url(../image/search_b180dd5.webp);

}

.search {
    display: flex;
    margin: 10px;
    width: 312px;
    height: 40px;
    /* background-color: #646a12; */
    border-radius: 20px;
    padding-left: 19px;
    padding-right: 12px;
    border-bottom: 1px solid #c2a060;
}

.search input {
    color: white;
    flex: 1;
    border: 0;
    background-color: transparent;
    outline: none;
}

.search input::placeholder {
    font-size: 14px;
    color: #999;
}

.upside a {
    line-height: 60px;
    width: 110px;
    height: 40px;
    display: flex;
    color: white;
}

.upside img {
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 50%;
}

.banner div {
    display: flex;
    /* position: absolute; */
    width: 100%;
    height: 187px;
    /* margin-top: 1080px;  */
    bottom: 0;
    left: 0;
    z-index: 10;
    /* background-color: pink; */
    /* opacity: 0.5; */
}

.banner .the_up h2 {
    display: flex;
    margin-top: 1080px;
    margin-left: 400px;
    width: 25px;
    height: 130px;
    font-size: 30px;
    color: #c2a060;
}

.banner .content {
    margin-top: 1080px;
    display: flex;
    height: 358px;
    width: 1220px;
    margin-left: 13px;
    background-color: #c2a060;
}

.wrapper-1 {
    padding-top: 1140px;

}

.hd ul {
    display: flex;

}

.hd li {
    margin-right: 60px;
    font-size: 16px;
}

.hd li .active {
    color: #00a4ff;
}

.hd li .final {
    margin-right: 606px;
}

.bd {
    width: 1280px;
    margin: 43px auto 0;
    display: flex;
    justify-content: space-between;
}

.bd .left {

    /* margin-left: 108px;  */
    width: 228px;
    background-color: #fff;
    transition: all 0.3s;
}

.bd .left img :hover {
    transition: all 0.3s;
    transform: scale(1.1);
}

.bd .left img {
    border-radius: 4%;
}

.bd .right {
    /* margin-right: 306px; */
    left: 0;
    width: 957px;
    background-color: #fff;
}

.div .bottom {
    display: flex;
}

.bd .right .top {
    margin-bottom: 15px;
    height: 100px;
}

.course {
    margin-top: 15px;
}

.hd {
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
}

.hd h3 {
    margin-left: 250px;
    background-color: #c2a060;
}

.hd .more {
    font-size: 14px;
    color: #999;
}

.bd h3 {
    width: 54px;
    height: 145px;
    background: url(../image/index_z_9ac8591.webp);
    background-position: -900px -532px;
}

.bd ul {
    /* margin-right: 306px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bd li {
    margin-bottom: 14px;
    width: 228px;
    height: 271px;
    /* background-color: pink; */
}

.bd .bottom .pic img {
    border-radius: 4%;
}

.bd li .pic {
    height: 156px;
    transition: all 0.3s;
}

.bd li .pic:hover {
    transform: scale(1.2);
}

.bd li .text {
    height: 115px;
    padding: 20px;
    background-color: #fff;
}

.bd li .text h4 {
    margin-bottom: 13px;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.bd li .text p {
    font-size: 14px;
    line-height: 20px;
    color: #999;
}

.bd li .text p span {
    color: orange;
}

.bd li .text p i {
    font-style: normal;
}

/* 主体部分 */
.container {
    width: 1180px;
    margin: 43px auto 0;
    /* color: red; */
}

.world {
    width: 100%;
    height: 495px;
    margin-bottom: 70px;
    /* background-color: rgb(75, 63, 63); */
}

.world-title {
    width: 54px;
    height: 145px;
    background: url(../image/index_z_9ac8591.webp);
    background-position: -835px -532px;
}

.world-box {
    position: relative;
    width: 100%;
    height: 320px;
    background: url(../image/shishen_bg_000bc91.jpg) no-repeat center 0;
    z-index: -11;
    margin-top: 23px;
}

.world-img {
    position: relative;
    width: 940px;
    height: 320px;
    margin: 0 auto;
}

.world-img>a {
    position: absolute;
    top: 0;
    width: 470px;
    height: 320px;
    /* background-color: red; */
}

.world-img>a:first-child {
    left: 0;
}

.world-img>a:last-child {
    right: 0;
}

.world-img>a:first-child>img {
    position: relative;
    top: -186px;
    left: -140px;
}

.world-img>a:last-child>img {
    position: absolute;
    top: -186px;
    right: -140px;
    z-index: -10;
}

/* 讨论区 */
.talk {

    font-style: unset;
    width: 120px;
    font-size: 30px;
    margin: auto;

    margin-left: 300px;
}

.wrapper-2 {
    min-width: 400px;
    max-width: 800px;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}

.avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    overflow: hidden;
    background: url("../image/006KbEKFly1hhen5n3tyoj3050050dg1.jpg") no-repeat center / cover;
    margin-right: 20px;
}

.wrapper-2 textarea {
    outline: none;
    border-color: transparent;
    resize: none;
    background: #f5f5f5;
    border-radius: 4px;
    flex: 1;
    padding: 10px;
    transition: all 0.5s;
    height: 30px;
}

.info a {
    margin-right: 0;
}

.wrapper-2 textarea:focus {
    border-color: #e4e4e4;
    background: #fff;
    height: 50px;
}

.wrapper-2 button {
    background: #00aeec;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    width: 70px;
    cursor: pointer;
}

.wrapper-2 .total {
    margin-right: 80px;
    color: #999;
    margin-top: 5px;
    opacity: 0;
    transition: all 0.5s;
}

.list {
    margin: 0 auto;
    min-width: 400px;
    max-width: 800px;
    display: flex;
}

.list .item {
    width: 100%;
    display: flex;
}

.list .item .info {
    flex: 1;
    border-bottom: 1px dashed #e4e4e4;
    padding-bottom: 10px;
}

.list .item p {
    margin: 0;
}

.list .item .name {
    color: #FB7299;
    font-size: 14px;
    font-weight: bold;
}

.list .item .text {
    color: #333;
    padding: 10px 0;
}

.list .item .time {
    color: #999;
    font-size: 12px;
}

/* 电梯 */
.xtx-elevator {
    position: fixed;
    left: 50%;
    top: 280px;
    z-index: 999;
    margin-left: 640px;
    opacity: 0;
    transition: all .5s;
}

.xtx-elevator .xtx-elevator-list {
    width: 60px;
    height: 300px;
    background: #fff;
    float: right;
    border: 1px solid #f5f5f5;
    position: relative;
}

.xtx-elevator .xtx-elevator-list li {
    height: 60px;
    padding: 15px;
}

.xtx-elevator .xtx-elevator-list li a {
    width: 30px;
    height: 30px;
    display: block;
}

.xtx-elevator .xtx-elevator-list li a:hover,
.xtx-elevator .xtx-elevator-list li a.active {
    color: #27BA9B;
}

.xtx-elevator .xtx-elevator-list li a i {
    display: block;
    width: 16px;
    height: 16px;
    position: relative;
    left: 4px;
    background-position: 8px -106px;
    font-size: 20px;
    transform: rotate(-90deg);
}